extends  base.pug

block scripts  
  script(src="../static/index.js") 
block style 
  style 
    include ../static/style.css
    include ../static/about.css
block content 
  section#about
    h2 About Us
    p 
      |Experience the magic at Dance Academy Name, where dance becomes art. We are dedicated to providing a nurturing and inspiring environment for dancers of all ages and skill levels.
      |Our team of experienced instructors is passionate about teaching and strives to bring out the best in each student. We believe in fostering creativity, discipline, and a love for dance.
      |At Dance Academy Name, we offer a wide range of dance styles, including ballet, contemporary, jazz, hip-hop, and more. Our carefully designed curriculum caters to beginners as well as those pursuing a professional career in dance.
      |Join us on this enchanting journey and discover the joy of dance. Contact us today to learn more and schedule a visit to our academy.</p>
    div.dimg
      img(src="../static/d1.jpg", alt="dance")
      img(src="../static/d2.jpg", alt="dance")
      img(src="../static/d3.jpg", alt="dance")
   

  
 


