doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar 
        ul
         div#logo
          img(src="../static/logo.png", alt="logo")
          |MDA 
         li #[a(href="/") Home ]
         li #[a(href="/") Class Info ]
         li #[a(href="/") Services ]
         li #[a(href="/") About Us ]
         li #[a(href="/") Contact us ]
    //- section#introsection 
    //-   div Welcome to Mane's Dance Academy 
    //-   div.small Dance Your Soul Away
    //- section#missionsection 
    //-    h2 Our Mission
    //-    div.card 
    //-     div.first 
    //-      h3 Dance Perfction 
    //-      div.card-box
    //-        div.card-img
    //-         img(src="../static/1.png", alt="hiphop", srcset="")
    //-        div.card-content
    //-         p This is the best dance academy of the universe
    //-     div.second 
    //-      h3 Dance the way you like 
    //-      div.card-box
    //-        div.card-img
    //-         img(src="../static/2.png", alt="hiphop", srcset="")
    //-        div.card-content
    //-         p This is the best dance academy of the universe
    //-     div.third  
    //-      h3 Expert Teaching 
    //-      div.card-box
    //-        div.card-img
    //-         img(src="../static/3.png", alt="hiphop", srcset="")
    //-        div.card-content
    //-         p This is the best dance academy of the universe
    //- section#sponsersection 
    //-   h2 OUR SPONSERS
    //-   div#sponsors
    //-    img(src="../static/apple.png", alt="apple", srcset="", Class="spImage")
    //-    img(src="../static/microsoft.png", alt="microsoft", srcset="", Class="spImage")
    //-    img(src="../static/TCS.NS.png", alt="TCS", srcset="", Class="spImage")
    //-    img(src="../static/persistant.png", alt="persistant", srcset="", Class="spImage")
    footer 
      | Copyright © 2023 ManeAcademy.com | All Rights Reserved
    //- script
    //-   include ../static/index.js